[master]
{% for item in master_server %}
{{item.ip}} node_name={{item.name}}
{% endfor %}

[node]
{% for item in node_server %}
{{item.ip}} node_name={{item.name}}
{% endfor %}

[etcd]
{% for item in etcd_server %}
{{item.ip}} etcd_name={{item.name}}
{% endfor %}

[ha]
{% for item in ha_server %}
{{item.ip}} state={{item.state}} priority={{item.priority}}
{% endfor %}
