#!/usr/bin/env bash

set -e

{{install_dir}}/etcd/bin/etcdctl --ca-file={{install_dir}}/flannel/conf/etcd-ca.pem --cert-file={{install_dir}}/flannel/conf/etcd.pem \
        --key-file={{install_dir}}/flannel/conf/etcd-key.pem \
        --endpoints="{% for host in groups['etcd'] %}https://{{ hostvars[host].inventory_hostname }}:2379{% if not loop.last %},{% endif %}{% endfor %}" \
        set /coreos.com/network/config '{ "Network": "10.1.0.0/16", "Backend": {"Type": "vxlan"}}'

{{install_dir}}/etcd/bin/etcdctl --ca-file={{install_dir}}/flannel/conf/etcd-ca.pem --cert-file={{install_dir}}/flannel/conf/etcd.pem \
        --key-file={{install_dir}}/flannel/conf/etcd-key.pem \
        --endpoints="{% for host in groups['etcd'] %}https://{{ hostvars[host].inventory_hostname }}:2379{% if not loop.last %},{% endif %}{% endfor %}" \
        get /coreos.com/network/config

systemctl daemon-reload
systemctl restart flanneld
systemctl restart docker
