#!/usr/bin/env bash

cd {{install_dir}}/kube-proxy/conf

KUBE_APISERVER="https://{{vip}}:6445"

kubectl config set-cluster icepopfh \
  --certificate-authority={{install_dir}}/kube-proxy/conf/apiserver-ca.pem \
  --embed-certs=true \
  --server=${KUBE_APISERVER} \
  --kubeconfig=kube-proxy.kubeconfig

kubectl config set-credentials "icepopfh-kube-proxy" \
  --client-certificate={{install_dir}}/kube-proxy/conf/kube-proxy.pem \
  --client-key={{install_dir}}/kube-proxy/conf/kube-proxy-key.pem \
  --embed-certs=true \
  --kubeconfig=kube-proxy.kubeconfig

kubectl config set-context default \
  --cluster=icepopfh \
  --user=icepopfh-kube-proxy \
  --kubeconfig=kube-proxy.kubeconfig

kubectl config use-context default --kubeconfig=kube-proxy.kubeconfig
