{% set local_ip = inventory_hostname %}
KUBE_APISERVER_OPTS="--logtostderr=false \
--v=2 \
--log-dir={{install_dir}}/kube-apiserver/logs \
--etcd-servers={% for host in groups['etcd'] %}https://{{ hostvars[host].inventory_hostname }}:2379{% if not loop.last %},{% endif %}{% endfor %} \
--bind-address={{local_ip}} \
--secure-port=6443 \
--advertise-address={{local_ip}} \
--allow-privileged=true \
--service-cluster-ip-range=10.2.0.0/16 \
--enable-admission-plugins=NamespaceLifecycle,LimitRanger,ServiceAccount,ResourceQuota,NodeRestriction \
--authorization-mode=RBAC,Node \
--enable-bootstrap-token-auth=true \
--token-auth-file={{install_dir}}/kube-apiserver/conf/token.csv \
--service-node-port-range=1024-65535 \
--kubelet-client-certificate={{install_dir}}/kube-apiserver/conf/apiserver.pem \
--kubelet-client-key={{install_dir}}/kube-apiserver/conf/apiserver-key.pem \
--tls-cert-file={{install_dir}}/kube-apiserver/conf/apiserver.pem \
--tls-private-key-file={{install_dir}}/kube-apiserver/conf/apiserver-key.pem \
--client-ca-file={{install_dir}}/kube-apiserver/conf/apiserver-ca.pem \
--service-account-key-file={{install_dir}}/kube-apiserver/conf/apiserver-ca-key.pem \
--etcd-cafile={{install_dir}}/kube-apiserver/conf/etcd-ca.pem \
--etcd-certfile={{install_dir}}/kube-apiserver/conf/etcd.pem \
--etcd-keyfile={{install_dir}}/kube-apiserver/conf/etcd-key.pem \
--requestheader-client-ca-file=/kubernetes/kube-apiserver/conf/apiserver-ca.pem \
--requestheader-allowed-names="" \
--requestheader-extra-headers-prefix=X-Remote-Extra- \
--requestheader-group-headers=X-Remote-Group \
--requestheader-username-headers=X-Remote-User \
--proxy-client-cert-file=/kubernetes/kube-apiserver/conf/metrics-proxy.pem \
--proxy-client-key-file=/kubernetes/kube-apiserver/conf/metrics-proxy-key.pem \
--audit-log-maxage=30 \
--audit-log-maxbackup=3 \
--audit-log-maxsize=100 \
--audit-log-path={{install_dir}}/kube-apiserver/logs/k8s-audit.log \
--enable-aggregator-routing=true"
