[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
EnvironmentFile={{install_dir}}/kube-apiserver/conf/kube-apiserver.conf
ExecStart={{install_dir}}/kube-apiserver/bin/kube-apiserver $KUBE_APISERVER_OPTS
Restart=on-failure

[Install]
WantedBy=multi-user.target
