#!/usr/bin/env bash

cd {{install_dir}}/kubelet/conf

KUBE_APISERVER="https://{{vip}}:6445"
TOKEN="{{token}}"

kubectl config set-cluster icepopfh \
  --certificate-authority={{install_dir}}/kubelet/conf/apiserver-ca.pem \
  --embed-certs=true \
  --server=${KUBE_APISERVER} \
  --kubeconfig=bootstrap.kubeconfig

kubectl config set-credentials "icepopfh-kubelet-bootstrap" \
  --token=${TOKEN} \
  --kubeconfig=bootstrap.kubeconfig

kubectl config set-context default \
  --cluster=icepopfh \
  --user="icepopfh-kubelet-bootstrap" \
  --kubeconfig=bootstrap.kubeconfig

kubectl config use-context default --kubeconfig=bootstrap.kubeconfig
